@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: Rubik;
}
/*BARRA NAVEGACIÓN*/
.navbar{
    padding: 2rem;
    background-color: white;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
nav{
    margin-top: -2%;
}
.ulNav li a{
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.ulNav .aBordeBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 45px;
    border: 1px solid #044C7E;
    border-radius: 50px;
    margin-left: 10px;
}
.ulNav .aBordeBoton button{
    background-color: transparent;
    border: 0px;
    color: #044C7E;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.aBordeBoton:hover{
    background-color: #044C7E;
    box-shadow: 0px 10px 150px #044C7E;
}
.aBordeBoton:hover button{
    color: white;
}
/*fin navegación*/
/*ESTILOS GENERALES*/
.texto-descripcion{
    color: #4F5665;
    font-family: Rubik;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
.tituloMain{
    color: #0B132A;
    font-family: Rubik;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 500;
}
.boton{
    width: 250px;
    height: 60px;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    background-color: #044C7E;
    box-shadow:  0px 20px 27px rgba(4, 76, 126, 0.35);
}
.boton p{
    position: relative;
    top: 20%;
}
.main-grid{
    width: 100%;
    padding: 15px;
}
.texto-icono-der{
    color: #0B132A;
    font-family: Rubik;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}
.iconos-grid{
    width: 100%;
    padding: 15px;
}
.parrafo-abajo-icono{
    margin-top: -0.700rem;
    width: 200px;
    color: #4F5665;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.contenedor-textos{
    position: relative;
    left: 1rem;
}
.columnas-iconos{
    margin-top: 1.5rem;
}
.contenedor-circular{
    width: 3.438rem;
    height: 3.438rem;
    background-color: #ECF4FF;
}

.row i{
    font-size: 1.2rem;
    color: #044C7E;
}
.contenedortextos h3{
    margin-left: 10px;
    margin-top: -12px;
}
.contenedortextos p{
    margin-left: 10px;
    margin-top: -12px;
}
.columna-saldo{
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(0px 50px 115px rgba(4, 76, 126, 0.37));
    padding: 20px;
    width: 600px;
}
.form-group{
    margin: 10px;
}
.form-group input{
    border-radius: 10px;
    border: 1px solid #7B808B;
}
.form-group select{
    border-radius: 10px;
    border: 1px solid #7B808B;
}
.boton-saldo{
    width: 200px;
    height: 60px;
}
/*ESTILOS TARJETAS*/
.botonTarjetas{
    background-color: #044C7E;
    color: white;
    width: 100%;
    fill: #FFF;
    box-shadow:  0px 20px 27px rgba(4, 76, 126, 0.35);
}
.imagenestarjetas{
    width: 153px;
    height: 102px;
    border-radius: 0px 32px 0px 0px;
}
.tarjeta-titulo{
    margin-top: 10px;
    color: #0B132A;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.tarjeta-descripcion{
    height: 170px;
    color: #0B132A;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}
.column{
    fill: #FFF;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 400px;
    background-color: white;
    filter: drop-shadow(0px 50px 115px rgba(4, 76, 126, 0.23));
}
.bold{
    font-weight: 700;
}
.imgMain{
    width: 27.5rem;
}
/*FIN ESTILO TARJETAS*/
/*FIN ESTILOS GENERALES*/
/*MEDIA QUERIES*/
@media screen and (max-width: 767px) {
    .logo{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .imagenmain{
        display: none;
    }
}